
#content
{
    margin: 40px 40px 70px 40px;
    padding: 10px;
    min-height: 450px;
    max-height: 450px;
    min-width: 1270px;
    max-width: 1270px;
}

header h1, footer
{
    background-color: gray;
    color: white;
    display: inline-table;
    width: 1300px;
    margin: -5px -5px;
    padding: 5px 10px;
    
}

nav
{
    display:inline-block;
    height: 425px;
    width: 154px;
    margin-top: -19px;
    position:absolute;
    left: 58px;
    top: 195.067px;
}

nav ul
{
    margin: 30px 8px 15px 0px;
    padding: 0px 0px 0px 42px;
}

nav li
{
    background-color: lightgray;
    height: 30px;
    width: 110px;
    text-align: left;
    list-style: none;
    margin: 2px 0px 0px -30px;
    padding: 20px 5px 5px 15px;
}

nav a
{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    
}


#principal
{
    display:inline-block;
    text-align: left;
    height: 410px;
    width: 1100px;
    border-left: solid 1px gray;
    padding: 10px 10px 25px 20px;
    margin: 0px 0px 0px 150px;
}


nav li:hover
{
    background-color: grey;
}
nav a:hover
{
    color:rgba(216, 192, 192, 0.918);
    text-decoration: underline;
}
nav a:active
{
    color:darkred;
}