
#content
{
    margin: 40px 40px 70px 40px;
    padding: 10px;
    min-height: 487px;
    max-height: 487px;
    min-width: 1270px;
    max-width: 1270px;
    position: relative;
}

header h1, footer
{
    background-color: gray;
    color: white;
    width: 1300px;
    margin: -6px 4px;
    padding: 5px 10px;
    
}

nav
{
    height: 425px;
    width: 137px;
    margin-top: -20px;
    position:absolute;
    left: 11px;
    top: 69.067px;
}

nav li
{
    background-color: lightgray;
    height: 30px;
    width: 110px;
    text-align: left;
    list-style: none;
    margin: 2px 0px 0px -33px;
    padding: 13px 0px 4px 14px;
}

nav a
{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}

#principal
{
    text-align: left;
    height: 397px;
    width: 1100px;
    border-left: solid 1px gray;
    position: absolute;
    left: 148px;
    top: 51px;
    padding: 18px;
}
section#principal h2
{
    margin-top: 10px;
}

footer
{
    position: absolute;
    bottom: 0px;
}

nav li:hover
{
    background-color: grey;
}
nav a:hover
{
    color:rgba(216, 192, 192, 0.918);
    text-decoration: underline;
}
nav a:active
{
    color:darkred;
}